/* src/About.css */

.about-section {
  display: flex;
  justify-content: center; /* Center the image container horizontally */
  align-items: center; /* Center the section content vertically */
  height: 70vh; /* Adjust height as needed */
  padding: 2rem; /* Add padding for spacing */
}

.about-image {
  display: flex;
  flex-direction: row; /* Stack image and text vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.about-image img {
  width: 350px; /* Set desired width */
  height: 350px; /* Set desired height */
  border-radius: 10%; /* Optional: make it circular */
  object-fit: cover; /* Ensures image covers the area without distortion */
  margin-bottom: 1rem; /* Space between image and text */
}

.about-text {
  font-size: 1.2rem; /* Adjust font size as needed */
  color: #333; /* Text color */
  margin-left: 20px;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  section#about {
    flex-direction: column;
  }
  section#about .about-text,
  section#about .about-image {
    width: 100%;
  }
}